/workdir/
/bin/

/e17_mac*/
/e17_etc*/
/e17_se*/
/e17_bg*/
/e17_x360_BGM*/
/e17_iso_extracted/
/e17_x360_iso_extracted/
/n7_mac*/
/n7_etc*/
/n7_iso_extracted/
/r11_mac*/
/r11_etc*/
/r11_iso_extracted/

/e17_iso_cn_extracted/
/e17_etc_cn/
/n7_iso_cn_extracted/
/n7_etc_cn/

/text/tmp/
/text/mac-en-only-utf8/
/text/font/FONT*
/text/font/glyphs/
/text/font/glyphs-cn/

/iso/*.iso
/iso/*.dax
/iso/*.cso

/patch/*.xdelta

/*.exe
/*.dll
/*.DUMP
/*.lnk

misc/
__pycache__/
*.pyc
/.vscode
